node_modules/
_site/
android-receiver/.gradle/
android-receiver/.kotlin/
android-receiver/build/
android-receiver/app/build/
android-receiver/dist/
android-receiver/local.properties
\.tools/
\.npm-cache/
gradle-*.zip
*.iml
.idea/
